html, body {
    margin: 0;
    background-color: rgb(13, 2, 38);
    font-family: Arial, Helvetica, sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #239FA7;
    padding: 20px 10px;
    margin: 0;
    
}

.logo{
    color: black;
}

.fa-solid {
    font-size: 50px;
}

main h1{
    color:antiquewhite;
    text-align:center;
}

main h2{
    color:antiquewhite;
    text-align:center;
    font-size: 16px;
}

main{
    display:flex;
    flex-flow: column wrap;

}


article{
    min-width: 250;
    max-width: 500px;
    width:100%;
    margin: 1rem auto;   
    
}

article a{
    display: flex;
    justify-content:space-evenly
}

.bilde_links{
    background-color: #424c52;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    

}

article img{    
    width: 100%;
    background-color:#0000;
    margin: 0.5rem auto;
}
